

.courses_item img{
  height: 250px;
  width: 400px;
}

.home_banner_area {
    position: relative;
    z-index: 1;
    min-height: 650px !important;
}

.card-img-overlay{
  background-color: rgba(0, 0, 0, .4);
        width: 100%;
        height: 100%;
}
.card-img-overlay h5:hover{
  color:#4dbf1c;
}
#top h3{
  margin-top: 30px;
  color:#4dbf1c;
  text-align: center;
}
#top hr{
  width: 30%;
  text-align: center;
  color: blue;
  border-bottom: 2px solid blue;
}
.team_img img{
  height: 263px;
  width: 263px;
}

#lernmore{
  color: #fff;
background-color: #4dbf1c;
border-color: #4dbf1c;
}

#lernmore:focus{
    box-shadow: 0 0 0 .2rem rgb(77, 191, 28);
}
#cname{
  color: #4dbf1c;
}

.home_banner_area .banner_inner{
  min-height: 379px !important;
}



.course_details_inner .nav.nav-tabs li a {
    border: none;
    padding: 0px;
    margin-bottom: 0px;
    line-height: 55px;
    font-size: 17px;
    /* font-weight: bold; */
    font-family: "Roboto", sans-serif;
    color: #222222;
    border-bottom: 1px solid transparent;
}

.categories_post img {

    max-height: 150px!important;
}

hr.abouthr{
  border-top: 2px solid green;
}

hr.categoryhr{
    border-top: 2px solid green;
    width: 390px;

}

.blog_banner .banner_inner .overlay{
  background: url(../uploads/item/homepage.jpg) no-repeat scroll center center;
  opacity: .5;
    height: 125%;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: -1;
    background-size: cover;
}

.top_menu {
    background: #04092E;

}

.top_menu .header_social li a {
  color: white;
}
.top_menu .dn_btn{
  color: white;
}

.team_area {
    background: #e3e3e8;
}

.footer-bottom {
    padding-top: 51px;
}

.footer-area p_120{
padding-top: 70px !important;
padding-bottom: 50px !important;
}


.blog_right_sidebar .widget_title{
  background: #04092e;
}

.blog_right_sidebar .search_widget .input-group .form-control {

    background: #04092e;
}

.blog_right_sidebar .newsletter_widget .bbtns {
    background: #04092e;
}

.banner_area .banner_inner{
  min-height: 200px;
}

.blog_area .single-post-area .p_120{
  padding-top: 0px !important;
}

.btn-agency{
  background-color: #04092e;
  color: white;
  font-size:12px;
}
.btn-agency:hover{
  background-color: #04091e;
  color: white;

}

.dash-widget2 {
    display: block;
    min-height: 88px;
    background: #dbdee6;
    width: 100%;
    border-color: #04091e;
    border-radius: 4px;
    margin-bottom: 30px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.dash-widget2 .dash-widget-icon {
    border-radius: 4px 0 0 4px;
    display: block;
    float: left;
    height: 88px;
    width: 150px;
    text-align: center;
    font-size: 45px;
    line-height: 90px;
    color: #fff;
}

.dash-widget2 .dash-widget-info {
    padding: 20px 20px;
}
.dash-widget-info {
    text-align: center;
}

.dash-widget-info > h3 {
    font-size: 28px;
    font-weight: 600;
    color: black;
}

.dash-widget-info > span {
    font-size: 16px;
}


.header_area .navbar .nav .nav-item .nav-link{
  font: 500 15px/80px "Roboto", sans-serif;
}

.load{
  position: fixed;
  left: 35%;
  text-align: center;
  top: 15%;
  z-index: 9999;
  margin: auto;
  display: none;
}
