

.courses_item img{
  height: 250px;
  width: 400px;
}

.home_banner_area {
    position: relative;
    z-index: 1;
    min-height: 650px !important;
}

.card-img-overlay{
  background-color: rgba(0, 0, 0, .4);
        width: 100%;
        height: 100%;
}
.card-img-overlay h5:hover{
  color:#4dbf1c;
}
#top h3{
  margin-top: 30px;
  color:#4dbf1c;
  text-align: center;
}
#top hr{
  width: 30%;
  text-align: center;
  color: blue;
  border-bottom: 2px solid blue;
}
.team_img img{
  height: 263px;
  width: 263px;
}

#lernmore{
  color: #fff;
background-color: #4dbf1c;
border-color: #4dbf1c;
}

#lernmore:focus{
    box-shadow: 0 0 0 .2rem rgb(77, 191, 28);
}
#cname{
  color: #4dbf1c;
}

.home_banner_area .banner_inner{
  min-height: 379px !important;
}



.course_details_inner .nav.nav-tabs li a {
    border: none;
    padding: 0px;
    margin-bottom: 0px;
    line-height: 55px;
    font-size: 17px;
    /* font-weight: bold; */
    font-family: "Roboto", sans-serif;
    color: #222222;
    border-bottom: 1px solid transparent;
}

.categories_post img {

    max-height: 150px!important;
}

hr.abouthr{
  border-top: 2px solid green;
}

hr.categoryhr{
    border-top: 2px solid green;
    width: 390px;

}

.blog_banner .banner_inner .overlay{
  background: url(../uploads/item/homepage.jpg) no-repeat scroll center center;
  opacity: .5;
    height: 125%;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: -1;
    background-size: cover;
}

.top_menu {
    background: #04092E;

}

.top_menu .header_social li a {
  color: white;
}
.top_menu .dn_btn{
  color: white;
}

.team_area {
    background: #e3e3e8;
}
