.navbar-expand-md .navbar-collapse{
  background-color:#7460ee;
}

.slimScrollDiv{
  background-color: #272c33;
}

#sidebarnav{
  background-color: #272c33;

}

.topbar .top-navbar .navbar-header{
  background-color: #272c33;
}
